[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==2.1"
django-rest-framework = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
djangorestframework-jwt = "*"
markdown = "*"
coreapi = "*"
flake8 = "*"

[requires]
python_version = "3.7"
